<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    {% if session.get('user') %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">My Projects</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
        {% if session.get('my_projects') %}
          {% for prj in session.get('my_projects') %}
            <li class="nav-item"><a class="nav-link" href="/{{ prj['id'] }}">{{ prj['name'] }}</a></li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        {% if session.get('user') %}
        <span class="menu-title">Account</span>
        {% else %}
        <span class="menu-title">User</span>
        {% endif %}
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          {% if session.get('user') %}
            {% if session.get('user').get('logged_in_usertype') %}
            <li class="nav-item"> <a class="nav-link" href="{{ account_profile }}"> Profile </a></li>
            {% endif %}

          <li class="nav-item"> <a class="nav-link" href="{{ logout }}"> Logout </a></li>
          {% else %}
          <li class="nav-item"> <a class="nav-link" href="{{ login_account }}"> Login Account </a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ login_microsoft }}"> Login with Microsoft </a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ login_google }}"> Login with Google </a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ register_account }}"> Register Account </a></li>
          {% endif %}
        </ul>
      </div>
    </li>
  </ul>
</nav>