{% extends "layout.html" %}
{% block page_title %}Register{% endblock %}
{% block content %}
<div class="row w-100 mx-0">
    <div class="col-lg-10 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo mb-4">
                <img src="{{url_for('static', filename='/images/logo.svg')}}" alt="logo">
            </div>
            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
            <div name="register_form" class="pt-3" >
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="username" placeholder="Username / Email Address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm" name="repeat_password" placeholder="Repeat Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="phone_nbr" placeholder="Phone Number">
                </div>
                <div class="mt-3">
                    <button class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn" onclick="userSubmit(this);">SIGN UP</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                    Already have an account? <a href="{{ login_account }}" class="text-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const userSubmit = (el) => {
        const cModel = document.querySelector('[name="register_form"]');
        const columnsData = {
            username: cModel.querySelector('[name="username"]').value,
            password: cModel.querySelector('[name="password"]').value,
            repeat_password: cModel.querySelector('[name="repeat_password"]').value,
            name: cModel.querySelector('[name="name"]').value,
            address: cModel.querySelector('[name="address"]').value,
            phone_nbr: cModel.querySelector('[name="phone_nbr"]').value
        };
        fetch('/user/register', {
            method: "POST",
            body: JSON.stringify(columnsData),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
                'X-CSRFToken': '{{ csrf_token() }}'
            }
        })
        .then((response) => {
            return response.json();
        })
        .then((json) => {
            console.log(json);
            if (json.status == 'success') {
                window.location.href = '/';
                window.location.reload();
            } else {
                document.querySelector(`#fail .toast-body`).innerHTML = json.message;
                document.querySelector(`#fail`).classList.remove('d-none');
            }
        });
    }
</script>
{% endblock %}