<script>
    const selectedColumnBgColor = '#eeeeee';

    const selectHierarchy = (el) => {
        const helpText = el.value == 'interval' ? 'Example: 0,15,new|16,50,standard|51,100,high' :
            el.value == 'date' ? `Info: a -> NOT CHANGED<br/>      s -> SECOND_MINUTE_HOUR_DAY_MONTH_YEAR<br/>      m -> MINUTE_HOUR_DAY_MONTH_YEAR<br/>      y -> YEAR<br/>
            Example: a, s, m, y` :
            el.value == 'redaction' ? 'Example: * . |' : '';
        document.querySelector('[name="hierarchy_help"]').innerHTML = helpText;
    };

    const showCollapsedElement = (el, prt_el) => {
        if (document.querySelector(`[name="${prt_el}"] .collapse.show`)) {
            Array.from(document.querySelectorAll(`[name="${prt_el}"] .collapse.show`))
                .forEach(obj => obj.classList.remove('show'));
        }
        document.querySelector(`[name="${prt_el}"] .collapse${el.getAttribute('attr-id')}`).classList.add('show');
    };

    let cTableJSON = JSON.parse(`{{ session['uploaded_file_data_json'] }}`
        .replace(/&#34;/g, '"')
        .replace(/NaN/g, '')
        .replace(/\n/g, ' '));
    document.querySelector('[name="load_data_table"]').innerHTML = `{{ session['uploaded_file_data_html'] }}`
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&#34;/g, '"')
        .replace(/NaN/g, '')
        .replace(/0/g, '')
        .replace(/\n/g, ' ');
    document.querySelector('[name="load_data_table"] table').classList.add('table');
    document.querySelector('[name="load_data_table"] table').classList.add('table-sm');
    document.querySelector('[name="load_data_table"] table').classList.add('table-hover');

    const savePrivacyModel = (el) => {
        const cModel = el.parentElement.parentElement.parentElement;
        const privacyModelColumn = document.querySelector('[name="privacy_model_column"]') ?
            document.querySelector('[name="privacy_model_column"]').innerText : null;
        const privacyModelType = document.querySelector('[name="privacy_model_type"]') ?
            document.querySelector('[name="privacy_model_type"]').value : null;
        const privacyModelTransformationType = cModel.querySelector('[name="privacy_model_transformation_type"]') ?
            cModel.querySelector('[name="privacy_model_transformation_type"]').value : null;
        const privacyModelHierarchyType = cModel.querySelector('[name="privacy_model_hierarchy_type"]') ?
            cModel.querySelector('[name="privacy_model_hierarchy_type"]').value : null;
        const privacyModelHierarchySymbols = cModel.querySelector('[name="privacy_model_hierarchy_symbols"]') ?
            cModel.querySelector('[name="privacy_model_hierarchy_symbols"]').value : null;
        const privacyModel = cModel.querySelector('[name="privacy_model_selected"]') ?
            cModel.querySelector('[name="privacy_model_selected"]').value : null;
        const privacyModelValue = cModel.querySelector('[name="privacy_model_value"]');

        let iHTML = ''
        if (el.getAttribute('attr-id') == 'data_transformation') {            
            if (privacyModelColumn && privacyModelType && privacyModelTransformationType) {
                Array.from(cModel.querySelectorAll('table tbody tr'))
                    .filter(obj => obj.children[0].innerText == privacyModelColumn)
                    .forEach(obj => obj.remove());
                iHTML = `<tr>
    <td>${privacyModelColumn}</td>
    <td>${privacyModelType}</td>
    <td>${privacyModelTransformationType}</td>
    <td>${privacyModelHierarchyType}</td>
    <td>${privacyModelHierarchySymbols}</td>
    <td><button class="btn btn-danger btn-sm btn-block" onclick="this.parentElement.parentElement.remove();">X</button></td>
</tr>`;
            } else {
                document.querySelector(`#fail .toast-body`).innerHTML = 'Not all fields are filled!';
                document.querySelector(`#fail`).classList.remove('d-none');
            }
        } else if (el.getAttribute('attr-id') == 'privacy_model') {
            if (privacyModelColumn && privacyModelType && privacyModel && privacyModelValue.value && 
                    (Number(privacyModelValue.value) >= Number(privacyModelValue.getAttribute('min')) && 
                    (privacyModelValue.getAttribute('max') ? Number(privacyModelValue.value) <= Number(privacyModelValue.getAttribute('max')) : true))) {
                Array.from(cModel.querySelectorAll('table tbody tr'))
                    .filter(obj => obj.children[0].innerText == privacyModelColumn &&
                        obj.children[2].innerText == privacyModel)
                    .forEach(obj => obj.remove());
                iHTML = `<tr>
    <td>${privacyModelColumn}</td>
    <td>${privacyModelType}</td>
    <td>${privacyModel}</td>
    <td>${privacyModelValue.value}</td>
    <td><button class="btn btn-danger btn-sm btn-block" onclick="this.parentElement.parentElement.remove();">X</button></td>
</tr>`;
            } else {
                document.querySelector(`#fail .toast-body`).innerHTML = 'Not all fields are filled!';
                document.querySelector(`#fail`).classList.remove('d-none');
            }
        }
        cModel.querySelector('table tbody').innerHTML += iHTML;

        const TblTrs = Array.from(cModel.querySelectorAll('table tbody tr'))
            .sort((a, b) => a.innerHTML.localeCompare(b.innerHTML))
            .map(obj => `<tr>${obj.innerHTML}</tr>`)
            .join('');
        cModel.querySelector('table tbody').innerHTML = TblTrs;
    };

    const selectedPrivacyModel = (el) => {
        document.querySelector('[name="select_anonymous_value"]').innerHTML = el.value ? `<div class="col-6">
<label>${el.value} value</label><br/>
<span class="text-danger">must be ${el.value == 'KAnonymity' ? '2 or higher' :
    el.value == 'LDiversity' ? '2 or higher' :
    el.value == 'TCloseness' ? 'between 0.000001 to 1.0' : ''}</span>
</div>
<div class="col-6">
<input type="number" name="privacy_model_value" class="form-control form-control-sm" ${el.value == 'KAnonymity' ? 'min="2"' :
    el.value == 'LDiversity' ? 'min="2"' :
    el.value == 'TCloseness' ? 'min="0.000001" max="1.0"' : ''} />
</div>` : '';
    };

    Array.from(document.querySelectorAll('[name="load_data_table"] table thead th'))
        .forEach((obj, ind, arr) => {
            if (ind > 0) {
                obj.addEventListener('click', (e) => {
                    e.preventDefault();
                    Array.from(document.querySelectorAll(`[name="load_data_table"] table thead tr th`))
                        .filter(obj => obj.hasAttribute('style'))
                        .forEach((obj, ind, arr) => {
                            obj.style = '';
                        });
                    Array.from(document.querySelectorAll(`[name="load_data_table"] table tbody tr td`))
                        .filter(obj => obj.hasAttribute('style'))
                        .forEach((obj, ind, arr) => {
                            obj.style = '';
                        });

                    e.target.style = `background-color: ${selectedColumnBgColor};`;

                    Array.from(document.querySelectorAll('[name="load_data_table"] table tbody tr'))
                        .forEach((iObj, iInd, iArr) => {
                            iObj.children[ind].style = `background-color: ${selectedColumnBgColor};`;
                        });

                    document.querySelector('[name="privacy_model_column"]').innerText = e.target.innerText;
                });
            }
        });

    const tableToJson = (table) => {
        let data = [];
        for (let i = 1; i < table.rows.length; i++) {
            const tableRow = table.rows[i];
            let rowData = {};
            for (let j = 0; j < tableRow.cells.length - 1; j++) {
                rowData[`${table.rows[0].cells[j].innerHTML.replace(/ /g, '_')}`] = tableRow.cells[j].innerHTML;
            }
            data.push(rowData);
        }
        return data;
    };

    const reDrawLayout = (resp) => {
        console.log(resp);
        document.querySelector('[name="collapse_window"] button[attr-id="#anonymized_data"]').classList.remove('disabled');
        document.querySelector('[name="collapse_window"] button[attr-id="#anonymized_data"]').removeAttribute('disabled');
        document.querySelector('[name="collapse_window"] button[attr-id="#analyze_risk"]').classList.remove('disabled');
        document.querySelector('[name="collapse_window"] button[attr-id="#analyze_risk"]').removeAttribute('disabled');
        document.querySelector('[name="load_anonymized_table"]').innerHTML = resp.anonymized_data;
        document.querySelector('[name="load_anonymized_table"] table').classList.add('table');
        document.querySelector('[name="load_anonymized_table"] table').classList.add('table-sm');
        document.querySelector('[name="load_anonymized_table"] table').classList.add('table-hover');
    };

    const anonymizeData = (el) => {
        const columnsData = {
            'data_transformation': tableToJson(document.querySelector('table[name="data_transformation_details"]')),
            'privacy_model': tableToJson(document.querySelector('table[name="privacy_model_details"]')),
        }
        if (columnsData.data_transformation.length > 0 && columnsData.privacy_model.length > 0) {
            const bText = el.innerHTML;
            el.innerHTML = `<div class="spinner-border spinner-border-sm text-light"></div>`;
            el.classList.add('disabled');
            el.setAttribute('disabled', '');
            fetch('/data/anonymize_data', {
                method: "POST",
                body: JSON.stringify(columnsData),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }
            })
            .then((response) => {
                return response.json();
            })
            .then((json) => {
                if (json.status == 'success') {
                    reDrawLayout(json);
                }
                document.querySelector(`#${json.status} .toast-body`).innerHTML = json.message ? JSON.parse(json.message).message : json.status;
                document.querySelector(`#${json.status}`).classList.remove('d-none');
                el.innerHTML = bText;
                el.classList.remove('disabled');
                el.removeAttribute('disabled');
            });
        } else {
            let iText = columnsData.data_transformation.length == 0 ? 'At least one Transformation Type and Hierarchy must be specified!<br/>' : '';
            iText += columnsData.privacy_model.length == 0 ? 'At least one privacy model must be specified!' : '';
            document.querySelector(`#fail .toast-body`).innerHTML = iText;
            document.querySelector(`#fail`).classList.remove('d-none');
        }
    };

    const exportAnnonymizedData = (el) => {
        const table2excel = new Table2Excel();
        table2excel.export(document.querySelector('[name="load_anonymized_table"] table'), 'annonymized_data');
    };
</script>
